<% if(latestcountry != null ) { %>
    
    <div class="row">
      <div class="col-12 col-md-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/"><%- latestcountry.continent %></a></li>
            <li class="breadcrumb-item active" aria-current="page"><%- latestcountry.countries %></li>
          </ol>
        </nav>
        <a class="links selected" href="\"> Home</a>
        <a class="links" href="\signin"> Login </a>
        <a class="links" href="\signup">Register</a>
        <a class="links" href="#">Contact Us</a>
        <a class="links" href="#">More Info</a>
      
      </div>
      
      <div class="col-12 col-md-8">
        <div class="row">
          </p> <img src="/uploads/<%- latestcountry.image %>" style="top: 300px;" alt="<%- latestcountry.name %>" loading="lazy">
          <div class="col-12"><h1><%- latestcountry.countries %></h1></div>
          <div class="col-12 mb-4"> <%- latestcountry.category %></div>
          <div class="col-12" style="white-space: pre-line;">
            <h4>Experiment: </h4>
            <%- latestcountry.information %>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-12">
            <h4>Thing to do:</h4>
            <ul class="list-group list-group-flush">
              <% latestcountry.thingtodo.forEach(function(thingtodo, index){ %>
                <li class="list-group-item"><%= thingtodo %></li>
              <% }) %>
            </ul> 
          </div>
        </div>
      </div>
    </div>
  <% } else { %>
    <p>No item found.</p>
  <% } %>