<html lang="en">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Asia</li>
    </ol>
  </nav>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% if (latestcountry != '') { %>
          <% latestcountry.forEach(function(latestcountry,index){%>
            <div class="col">
              <div class="card shadow-sm">
                <a href="/country/<%= latestcountry._id %>" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <div class="category__img category__img--xlarge shadow">
                      <img src="/uploads/<%= latestcountry.image %> " alt="<%=  latestcountry.countries %> " Loading="lazy">
                  </div>
                </a>  
                <div class="card-body">
                  <p class="card-text"><%=latestcountry.countries%></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" onclick="location.href='/country/<%= latestcountry._id %>'" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         <%}) %>
         <% } %>
      </div>
    </div>
  </div>
  <link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
rel="stylesheet"
/>