
<div class="container">
  <div class="main-body">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%- user.firstname %> <%- user.lastname %></li>
          </ol>
        </nav>
        <!-- /Breadcrumb -->
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="/uploads/blank-profile-picture-gf48cd313e_640.png" class="rounded-circle" width="200">
                  <div class="mt-3">
                    <h4><%- user.firstname %> <%- user.lastname %></h4>
                    <button class="btn btn-primary">Edit avatar</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%- user.firstname %> <%- user.lastname %>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%- user.email %>
                  </div>
                </div>
                
             
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gutters-sm">
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Posted</i></h6>
                    <% if (result != '') { %>
                      <% result.forEach(function(result,index){%>
                        <div class="col">
                          <div class="card shadow-sm">
                            <a href="/country/<%=result._id%>" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                              <div class="category__img category__img--xlarge shadow">
                                  <img src="/uploads/<%= result.image %> " alt="<%= result.countries %> " Loading="lazy">
                              </div>
                            </a>  
                            <div class="card-body">
                              <p class="card-text"><%=result.countries%></p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" onclick="location.href='/country/<%= result._id %>'" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                     <%}) %>
                     <% } %>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Commented and Liked</i></h6>
                    <% if (user_comment != '') { %>
                      <%=user_comment.User_comment%>
                      <!-- <% user_comment.forEach(function(result,index){%> -->
                        <!-- <div class="col">
                          <div class="card shadow-sm">
                            <a href="/country/<%=result._id%>" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                              <div class="category__img category__img--xlarge shadow">
                                  <img src="/uploads/<%= result.image %> " alt="<%= result.countries %> " Loading="lazy">
                              </div>
                            </a>  
                            <div class="card-body">
                              <p class="card-text"><%=result.countries%></p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" onclick="location.href='/country/<%= result._id %>'" class="btn btn-sm btn-outline-secondary">View</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                     <%}) %>
                     <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
rel="stylesheet"
/>